global
    log stdout daemon

listen fe_main
    mode http
    option httplog
    log global
    bind *:10000
    timeout client 5s
    option http-buffer-request
    filter spoe  engine goagent  config /usr/local/etc/haproxy/goagent.cfg
    timeout connect 5s
    timeout server 5s
    http-request deny deny_status 403 if !{ var(req.goagent.allowed) -m bool }
    server s1 host.docker.internal:8888

# Agents
backend goagents
    mode tcp
    balance roundrobin
    timeout connect 5s
    timeout server 5s
    server agent1 unix@/var/run/gohaproxy/agent.sock
